* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  }
  body {
   font-family:cursive;
   font-size: 20px;
   text-align: justify;
   background-color:#4c9e9e;
  }
  a {
   text-decoration: none;
  }
  .dropdown li,
  .menu li{
   list-style: none;
  }

 h1, 
 h2{
  color:rgb(14, 14, 41); 
  font: 1.5em "Lucida Console", monospace;
  font-weight: bold;
  margin-bottom: 30px;
  text-shadow: 5px 5px 5px #959bcf;
 }




/* NAVBAR ESTILO */
   .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }
   .navbar ul li:hover ul{
    visibility: visible;   
   }
   /* LOGO */
   .logo {
    font-size: 32px;
    display: flex;
    align-items: center;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: black;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }

   /* MENU SUSPENSO */
   .metododrop {
    position: relative; 
    display: block; 
   }
   .dropdown {
    background-color: black;
    padding: 1em 0;
    position: absolute; /*COM RELAÇÃO AOS PAIS*/
    display: block;
    border-radius: 8px;
    top: 35px;
    visibility: hidden;
   }

   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   .services:hover .dropdown {
    display: block;
   }


   /* NAVBAR MENU RESPONSIVA*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   /* APLICAÇÃO MEDIA QUERIES */
   @media (max-width: 768px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:black;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
   }
   .menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
  }


.borda {
  font: 25px/1.4 sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  background: white;
}

.borda2{
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.img {
  max-width: 55%;
  padding: 10px;
}

.texto {
  max-width: 60%;
}

#topo{
  border: none;
  cursor: pointer;
  position: fixed;
  background: none;
  bottom: 40px;
  left: 1200px;
  z-index: 100000;
}

.seta-topo {
  width: 60px;
}

footer {
  font-size:90%;
  text-align: center;
  margin-top: 80px;
  bottom:0;
  left:0;

}
a.link:link {
  color:dimgray;
  text-decoration: underline;
}

a.link:hover {
  color:mediumspringgreen;
  text-decoration: none; /* remove o sublinhado */
}

a.link:visited{
  color:rgb(39, 25, 28);  
}
a.link:active {
  color:mediumspringgreen;
}


@media (max-width: 500px) {
  .container {
    flex-direction: column;
  }

  .img,
  .texto {
    max-width: 100%;

  }

  .borda {
    font-size: calc(16px + (8/1200) * 100 * 1vw);
    background:white;
  }
}
