.borda {
  font: 25px/1.4 sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  background: white;
}

.borda2{
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.img {
  max-width: 55%;
  padding: 10px;
}

.texto {
  max-width: 60%;
}

footer {
  font-size:90%;
  text-align: center;
  margin-top: 80px;
  bottom:0;
  left:0;

}


@media (max-width: 500px) {
  .container {
    flex-direction: column;
  }

  .img,
  .texto {
    max-width: 100%;

  }

  .borda {
    font-size: calc(16px + (8/1200) * 100 * 1vw);
    background:white;
  }
}
